
<head>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-header" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left" style="flex-direction:row">
          <li class="active"><a href="#">Comment WebSite </a></li>
          <li ><a href="#">Home </a></li>
        </ul>
       
        
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
